*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: rgb(71, 144, 234);
  color: rgb(244, 244, 255);
  
}

a{
  text-decoration: none;
  color: inherit;
}