.container{
    height: calc(100vh - 60px);
    width: 100%;
    margin-top: 7.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper{
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 12.5rem;
}

.left{
  display: flex;
  flex-direction: column;
}

.left > h2{
    margin-bottom: 5rem;
    font-size: 46px;
    color: lavender;
    white-space: nowrap;
    line-height: 65px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.left > h5{
    color:lavender;
    font-size: 24px;
    line-height: 39px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.left > .buttons{
   margin-top: 20rem;
   display: flex;
   align-items: center;
   gap: 7.5rem;
}

.buttons > button{
    outline: none;
    font-weight: bold;
    font-size: 30px;
    border-radius: 50px;
    border: solid;
    border-color: rgb(255, 186, 48);
    color: lavender;
    background-color: rgb(38, 186, 255);
    padding: 0.75rem 1.75rem;
    cursor: pointer;
    transition: 150ms all;
    cursor: pointer;    box-shadow: 
    0 2px 3px rgba(0, 0, 0, 0.5), 
    0 -2px 3px rgba(0, 0, 0, 0.5), 
    2px 0 3px rgba(0, 0, 0, 0.5),
    -2px 0 3px rgba(0, 0, 0, 0.5),
    0 0 5px 0 rgb(71, 144, 234),
    0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.orderNow:hover{
    transform: scale(1.100);
    color: rgb(71, 144, 234);
    background-color: rgb(255, 186, 48);
    font-weight: bold;
}
.seeMore:hover{
    transform: scale(1.100);
    color: rgb(71, 144, 234);
    background-color: rgb(255, 186, 48);
    font-weight: bold;
}
.disclaimer{
    margin-top: 3rem;
    color: lavender;
    font-size: 17px;
}

.right{
    height: 750px;
    width: 45%;
    align-items: center;
}

.right > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}